
* {
  list-style: none;
}
body {
  background-color: beige;
}
h1 {
  color: cornflowerblue;
}
.clicked {
  color: tomato;
}
.sexy-font {
  font-family: 'Courier New', Courier, monospace;
}
.hidden {
  display: none;
}
img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  opacity: 70%;
}
.container {
  text-align: center;
}